@import 'tailwindcss';

@layer utilities {
	@theme {
		--font-sans: var(--font-app);
		--font-mono: var(--font-app);
	}

	/*
	Color scales from https://primer.style/foundations/color/base-scales

	Background: neutral 0-6
	Borders and dividers: neutral 7-8
	Text and icons: neutral 9-13

	|    Text    | Background |
	| ---------- | ---------- |
	| neutral 9  | neutral 0  |
	| neutral 9  | neutral 1  |
	| neutral 9  | neutral 2  |
	| neutral 9  | neutral 3  |
	| neutral 9  | neutral 4  |
	| neutral 10 | neutral 5  |
	| neutral 10 | neutral 6  |
*/

	/* Theme: Light */
	:root {
		/* Base Color scales */
		--base-color-neutral-0: #ffffff;
		--base-color-neutral-1: #f6f8fa;
		--base-color-neutral-2: #eff2f5;
		--base-color-neutral-3: #e6eaef;
		--base-color-neutral-4: #e0e6eb;
		--base-color-neutral-5: #dae0e7;
		--base-color-neutral-6: #d1d9e0;
		--base-color-neutral-7: #c8d1da;
		--base-color-neutral-8: #818b98;
		--base-color-neutral-9: #59636e;
		--base-color-neutral-10: #454c54;
		--base-color-neutral-11: #393f46;
		--base-color-neutral-12: #25292e;
		--base-color-neutral-13: #1f2328;

		--base-color-blue-0: #ddf4ff;
		--base-color-blue-1: #b6e3ff;
		--base-color-blue-2: #80ccff;
		--base-color-blue-3: #54aeff;
		--base-color-blue-4: #218bff;
		--base-color-blue-5: #0969da;
		--base-color-blue-6: #0550ae;
		--base-color-blue-7: #033d8b;
		--base-color-blue-8: #0a3069;
		--base-color-blue-9: #002155;

		--base-color-green-0: #dafbe1;
		--base-color-green-1: #aceebb;
		--base-color-green-2: #6fdd8b;
		--base-color-green-3: #4ac26b;
		--base-color-green-4: #2da44e;
		--base-color-green-5: #1a7f37;
		--base-color-green-6: #116329;
		--base-color-green-7: #044f1e;
		--base-color-green-8: #003d16;
		--base-color-green-9: #002d11;

		--base-color-yellow-0: #fff8c5;
		--base-color-yellow-1: #fae17d;
		--base-color-yellow-2: #eac54f;
		--base-color-yellow-3: #d4a72c;
		--base-color-yellow-4: #bf8700;
		--base-color-yellow-5: #9a6700;
		--base-color-yellow-6: #7d4e00;
		--base-color-yellow-7: #633c01;
		--base-color-yellow-8: #4d2d00;
		--base-color-yellow-9: #3b2300;

		--base-color-orange-0: #fff1e5;
		--base-color-orange-1: #ffd8b5;
		--base-color-orange-2: #ffb77c;
		--base-color-orange-3: #fb8f44;
		--base-color-orange-4: #e16f24;
		--base-color-orange-5: #bc4c00;
		--base-color-orange-6: #953800;
		--base-color-orange-7: #762c00;
		--base-color-orange-8: #5c2200;
		--base-color-orange-9: #471700;

		--base-color-red-0: #ffebe9;
		--base-color-red-1: #ffcecb;
		--base-color-red-2: #ffaba8;
		--base-color-red-3: #ff8182;
		--base-color-red-4: #fa4549;
		--base-color-red-5: #cf222e;
		--base-color-red-6: #a40e26;
		--base-color-red-7: #82071e;
		--base-color-red-8: #660018;
		--base-color-red-9: #4c0014;

		--base-color-purple-0: #fbefff;
		--base-color-purple-1: #ecd8ff;
		--base-color-purple-2: #d8b9ff;
		--base-color-purple-3: #c297ff;
		--base-color-purple-4: #a475f9;
		--base-color-purple-5: #8250df;
		--base-color-purple-6: #6639ba;
		--base-color-purple-7: #512a97;
		--base-color-purple-8: #3e1f79;
		--base-color-purple-9: #2e1461;

		--base-color-pink-0: #ffeff7;
		--base-color-pink-1: #ffd3eb;
		--base-color-pink-2: #ffadda;
		--base-color-pink-3: #ff80c8;
		--base-color-pink-4: #e85aad;
		--base-color-pink-5: #bf3989;
		--base-color-pink-6: #99286e;
		--base-color-pink-7: #772057;
		--base-color-pink-8: #611347;
		--base-color-pink-9: #4d0336;

		--base-color-coral-0: #fff0eb;
		--base-color-coral-1: #ffd6cc;
		--base-color-coral-2: #ffb4a1;
		--base-color-coral-3: #fd8c73;
		--base-color-coral-4: #ec6547;
		--base-color-coral-5: #c4432b;
		--base-color-coral-6: #9e2f1c;
		--base-color-coral-7: #801f0f;
		--base-color-coral-8: #691105;
		--base-color-coral-9: #510901;

		--base-color-black: #1f2328;
		--base-color-white: #ffffff;

		/* Foreground */
		--fg-accent: var(--base-color-neutral-9);
		--fg-attention: var(--base-color-orange-9);
		--fg-black: var(--base-color-black);
		--fg-danger: var(--base-color-red-9);
		--fg-default: var(--base-color-neutral-9);
		--fg-link: var(--base-color-blue-9);
		--fg-disabled: var(--base-color-neutral-8);
		--fg-muted: var(--base-color-neutral-8);
		--fg-neutral: var(--base-color-neutral-9);
	}

	/*
	Theme: Dark
  */
	@media (prefers-color-scheme: dark) {
		:root {
			/*
		Base Color scales
	  */
			--base-color-neutral-0: #010409;
			--base-color-neutral-1: #0d1117;
			--base-color-neutral-2: #151b23;
			--base-color-neutral-3: #212830;
			--base-color-neutral-4: #262c36;
			--base-color-neutral-5: #2a313c;
			--base-color-neutral-6: #2f3742;
			--base-color-neutral-7: #3d444d;
			--base-color-neutral-8: #656c76;
			--base-color-neutral-9: #9198a1;
			--base-color-neutral-10: #b7bdc8;
			--base-color-neutral-11: #d1d7e0;
			--base-color-neutral-12: #f0f6fc;
			--base-color-neutral-13: #ffffff;

			--base-color-blue-0: #cae8ff;
			--base-color-blue-1: #a5d6ff;
			--base-color-blue-2: #79c0ff;
			--base-color-blue-3: #58a6ff;
			--base-color-blue-4: #388bfd;
			--base-color-blue-5: #1f6feb;
			--base-color-blue-6: #1158c7;
			--base-color-blue-7: #0d419d;
			--base-color-blue-8: #0c2d6b;
			--base-color-blue-9: #051d4d;

			--base-color-green-0: #aff5b4;
			--base-color-green-1: #7ee787;
			--base-color-green-2: #56d364;
			--base-color-green-3: #3fb950;
			--base-color-green-4: #2ea043;
			--base-color-green-5: #238636;
			--base-color-green-6: #196c2e;
			--base-color-green-7: #0f5323;
			--base-color-green-8: #033a16;
			--base-color-green-9: #04260f;

			--base-color-yellow-0: #f8e3a1;
			--base-color-yellow-1: #f2cc60;
			--base-color-yellow-2: #e3b341;
			--base-color-yellow-3: #d29922;
			--base-color-yellow-4: #bb8009;
			--base-color-yellow-5: #9e6a03;
			--base-color-yellow-6: #845306;
			--base-color-yellow-7: #693e00;
			--base-color-yellow-8: #4b2900;
			--base-color-yellow-9: #341a00;

			--base-color-orange-0: #ffdfb6;
			--base-color-orange-1: #ffc680;
			--base-color-orange-2: #ffa657;
			--base-color-orange-3: #f0883e;
			--base-color-orange-4: #db6d28;
			--base-color-orange-5: #bd561d;
			--base-color-orange-6: #9b4215;
			--base-color-orange-7: #762d0a;
			--base-color-orange-8: #5a1e02;
			--base-color-orange-9: #3d1300;

			--base-color-red-0: #ffdcd7;
			--base-color-red-1: #ffc1ba;
			--base-color-red-2: #ffa198;
			--base-color-red-3: #ff7b72;
			--base-color-red-4: #f85149;
			--base-color-red-5: #da3633;
			--base-color-red-6: #b62324;
			--base-color-red-7: #8e1519;
			--base-color-red-8: #67060c;
			--base-color-red-9: #490202;

			--base-color-purple-0: #eddeff;
			--base-color-purple-1: #e2c5ff;
			--base-color-purple-2: #d2a8ff;
			--base-color-purple-3: #bc8cff;
			--base-color-purple-4: #a371f7;
			--base-color-purple-5: #8957e5;
			--base-color-purple-6: #6e40c9;
			--base-color-purple-7: #553098;
			--base-color-purple-8: #3c1e70;
			--base-color-purple-9: #271052;

			--base-color-pink-0: #ffdaec;
			--base-color-pink-1: #ffbedd;
			--base-color-pink-2: #ff9bce;
			--base-color-pink-3: #f778ba;
			--base-color-pink-4: #db61a2;
			--base-color-pink-5: #bf4b8a;
			--base-color-pink-6: #9e3670;
			--base-color-pink-7: #7d2457;
			--base-color-pink-8: #5e103e;
			--base-color-pink-9: #42062a;

			--base-color-coral-0: #ffddd2;
			--base-color-coral-1: #ffc2b2;
			--base-color-coral-2: #ffa28b;
			--base-color-coral-3: #f78166;
			--base-color-coral-4: #ea6045;
			--base-color-coral-5: #cf462d;
			--base-color-coral-6: #ac3220;
			--base-color-coral-7: #872012;
			--base-color-coral-8: #640d04;
			--base-color-coral-9: #460701;

			--base-color-black: #010409;
			--base-color-white: #ffffff;
		}
	}
}
