node_modules
.next
dist
.vscode
.husky
.nyc_output
.prettierignore
.stylelintignore
*.log
*.git
pnpm-lock.yaml
package-lock.json
bun.lock*

*.prisma
prisma/

coverage
stories
storybook-static
playwright-report
test-results
docs